<a href="https://colab.research.google.com/github/solankiharsh/python_basics/blob/master/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
class Myclass:
  x = 5

In [31]:
p1 = Myclass()
print(p1.x)

5

In [32]:
class Myclass2:
  Name = "Harsh"

In [33]:
p2 = Myclass2()
print(p2.Name)

Harsh

In [34]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [35]:
class Person: 
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John",36)

In [36]:
print(p1.name)
print(p1.age)

John
36

In [37]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [38]:
class Person: 
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

In [39]:
p1 = Person("harsh", 26)
p1.myfunc()

Hello my name is harsh

In [40]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [41]:
class Person: 
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("my name is " + abc.name)

In [42]:
p1 = Person("harsh", 25)
p1.myfunc()

my name is harsh

In [43]:
p1.age = 35

In [44]:
del p1.age

In [45]:
del p1

In [46]:
class Person:
  pass

In [47]:
print("Hello World")

Hello World

In [48]:
if 5>2:
  print("5 is Greater than 2")

5 is Greater than 2

In [51]:
if 5>2:
  print("2 is lesser than 5")

2 is lesser than 5

In [53]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [54]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [55]:
x = 4 # x is of type int
x = "Sally" # x is now of type str
print(x)

x = 1
x = "Harsh"
print(x)

Sally
Harsh

In [56]:
x, y, z = "Apple", "Oranges", "Mangoes"

In [57]:
print(x)

Apple

In [58]:
print(y)

Oranges

In [59]:
print(z)

Mangoes

In [60]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [61]:
x = "awesome"
y = print("Python is " + x)

Python is awesome

In [63]:
x = "python is "
y = "awesome"
z = x + y
print(z)

python is awesome

In [64]:
x = 1
y = 2 
z = x + y
print(z)

3

In [65]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

x = "awesome"
def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome
Python is awesome

In [66]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

x = "awesome"
def myfunc():
  x = "fantastic"
  print("python is " + x)

myfunc()

print("python is " + x )

Python is fantastic
Python is awesome
python is fantastic
python is awesome

In [67]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [68]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

In [69]:
print("python is " + x)

python is fantastic

In [70]:
x = 5
print(type(x))

<class 'int'>

In [73]:
x = "Hello World"	
print(type(x))
x = 20		
print(type(x))
x = 20.5	
print(type(x))
x = 1j		
print(type(x))
x = ["apple", "banana", "cherry"]
print(type(x))
x = ("apple", "banana", "cherry")	
print(type(x))
x = range(6)	
print(type(x))
x = {"name" : "John", "age" : 36}	
print(type(x))
x = {"apple", "banana", "cherry"}	
print(type(x))
x = frozenset({"apple", "banana", "cherry"})	
print(type(x))
x = True	
print(type(x))
x = b"Hello"	
print(type(x))
x = bytearray(5)
print(type(x))	
x = memoryview(bytes(5))
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

In [75]:
x = str("Hello World")
print(type(x))

<class 'str'>

In [76]:
x = int(20)
print(type(x))

<class 'int'>

In [77]:
x = float(20.5)
print(type(x))

<class 'float'>

In [78]:
import random

print(random.randrange(1, 10))

5

In [79]:
import random
print(random.randrange(1,10))

5

In [81]:
a = "Hello, World!"
print(a[1])

e

In [82]:
b = "Hello, World!"
print(b[2:5])

llo

In [83]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [84]:
a = "Hello, World!"
print(len(a))

13

In [85]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [86]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [87]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [88]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [89]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [90]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

In [91]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

In [92]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [93]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [95]:
age = 36
txt = "My name is John, I am " + str(age)
print(txt)

My name is John, I am 36

In [96]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

age = 32
txt = "My name is Harsh, and I am {}"
print(txt.format(age))

My name is John, and I am 36
My name is Harsh, and I am 32

In [97]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [98]:
qt = 3
no = 231
price = 40.33
myorder = "I want {} pieces of item {} for {} dollars"
print(myorder.format(qt,no,price))

I want 3 pieces of item 231 for 40.33 dollars

In [99]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [100]:
txt = "We are the so-called \"Vikings\" from the north."

In [101]:
print(txt)

We are the so-called "Vikings" from the north.

In [103]:
print(bool("Hello"))
print(bool(15))

True
True

In [105]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [106]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [107]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [108]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [109]:
x = 200
print(isinstance(x, int))

True

In [113]:
thislist = ['apple','banana','cherry']
print(thislist)

['apple', 'banana', 'cherry']

In [114]:
print(thislist[1])

banana

In [115]:
print(thislist[-1])

cherry

In [116]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [117]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [118]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [119]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [120]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [121]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [122]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [123]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [124]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [125]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [126]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [127]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [128]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [129]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [130]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [131]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [132]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [133]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [134]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [135]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [136]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [137]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [138]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [139]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [140]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [141]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [142]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [143]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

thisset = {'apple','banana','cherry'}
print(thisset)

{'banana', 'cherry', 'apple'}
{'banana', 'cherry', 'apple'}

In [144]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [145]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [146]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'orange', 'cherry', 'apple'}

In [147]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'banana', 'cherry', 'apple', 'mango', 'orange', 'grapes'}

In [148]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [149]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [150]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [151]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [152]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [153]:
thisdict = {
    "brand":'Ford',
    "model":"Mustang",
    "year":1976
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1976}

In [154]:
x = thisdict['model']

In [155]:
print(x)

Mustang

In [156]:
x = thisdict.get("model")

In [157]:
print(x)

Mustang

In [158]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [159]:
for x in thisdict:
  print(x)

brand
model
year

In [160]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
2018

In [161]:
for x in thisdict.values():
  print(x)

Ford
Mustang
2018

In [162]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 2018

In [163]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [164]:
print(len(thisdict))

3

In [165]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [166]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [167]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [168]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [169]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [170]:
child1 = {
    "name": "harsh",
    "year":1994
}
child2 = {
    "name":"yash",
    "year":1996
}
child3 = {
    "name":"Aayush",
    "year":1999
}
myfamily = {
    "child1": child1,
    "child2": child2,
    "child3": child3
}

In [171]:
myfamily

{'child1': {'name': 'harsh', 'year': 1994},
 'child2': {'name': 'yash', 'year': 1996},
 'child3': {'name': 'Aayush', 'year': 1999}}

In [173]:
!pip install pytesseract

Collecting pytesseract
  Downloading https://files.pythonhosted.org/packages/17/4b/4dbd55388225bb6cd243d21f70e77cb3ce061e241257485936324b8e920f/pytesseract-0.3.6.tar.gz
Requirement already satisfied: Pillow in /usr/local/lib/python3.6/dist-packages (from pytesseract) (7.0.0)
Building wheels for collected packages: pytesseract
  Building wheel for pytesseract (setup.py) ... done
  Created wheel for pytesseract: filename=pytesseract-0.3.6-py2.py3-none-any.whl size=13629 sha256=1d222ab8678552e96d5c3dc60e3d24afe756f3566da31bfdf2f6460258035598
  Stored in directory: /root/.cache/pip/wheels/ee/71/72/b98430261d849ae631e283dfc7ccb456a3fb2ed2205714b63f
Successfully built pytesseract
Installing collected packages: pytesseract
Successfully installed pytesseract-0.3.6

In [174]:
try:
    from PIL import Image
except ImportError:
    import Image
import pytesseract

In [182]:
! apt install tesseract-ocr
! apt install libtesseract-dev

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  tesseract-ocr-eng tesseract-ocr-osd
The following NEW packages will be installed:
  tesseract-ocr tesseract-ocr-eng tesseract-ocr-osd
0 upgraded, 3 newly installed, 0 to remove and 39 not upgraded.
Need to get 4,795 kB of archives.
After this operation, 15.8 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tesseract-ocr-eng all 4.00~git24-0e00fe6-1.2 [1,588 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tesseract-ocr-osd all 4.00~git24-0e00fe6-1.2 [2,989 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tesseract-ocr amd64 4.00~git2288-10f4998a-2 [218 kB]
Fetched 4,795 kB in 2s (3,024 kB/s)
Selecting previously unselected package tesseract-ocr-eng.
(Reading database ... 144579 files and directories currently installed.)
Preparing to unpack .../tesseract-ocr-eng_4.00~git24-0e00fe6-1.2_all.deb ...
Unpacking tesseract-ocr-eng (4.00~git24-0e00fe6-1.2) ...
Selecting previously unselected package tesseract-ocr-osd.
Preparing to unpack .../tesseract-ocr-osd_4.00~git24-0e00fe6-1.2_all.deb ...
Unpacking tesseract-ocr-osd (4.00~git24-0e00fe6-1.2) ...
Selecting previously unselected package tesseract-ocr.
Preparing to unpack .../tesseract-ocr_4.00~git2288-10f4998a-2_amd64.deb ...
Unpacking tesseract-ocr (4.00~git2288-10f4998a-2) ...
Setting up tesseract-ocr-osd (4.00~git24-0e00fe6-1.2) ...
Setting up tesseract-ocr-eng (4.00~git24-0e00fe6-1.2) ...
Setting up tesseract-ocr (4.00~git2288-10f4998a-2) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  libleptonica-dev
The following NEW packages will be installed:
  libleptonica-dev libtesseract-dev
0 upgraded, 2 newly installed, 0 to remove and 39 not upgraded.
Need to get 2,755 kB of archives.
After this operation, 13.8 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libleptonica-dev amd64 1.75.3-3 [1,308 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libtesseract-dev amd64 4.00~git2288-10f4998a-2 [1,447 kB]
Fetched 2,755 kB in 2s (1,747 kB/s)
Selecting previously unselected package libleptonica-dev.
(Reading database ... 144626 files and directories currently installed.)
Preparing to unpack .../libleptonica-dev_1.75.3-3_amd64.deb ...
Unpacking libleptonica-dev (1.75.3-3) ...
Selecting previously unselected package libtesseract-dev.
Preparing to unpack .../libtesseract-dev_4.00~git2288-10f4998a-2_amd64.deb ...
Unpacking libtesseract-dev (4.00~git2288-10f4998a-2) ...
Setting up libleptonica-dev (1.75.3-3) ...
Setting up libtesseract-dev (4.00~git2288-10f4998a-2) ...

In [183]:
! pip install Pillow
! pip install pytesseract

Requirement already satisfied: Pillow in /usr/local/lib/python3.6/dist-packages (7.0.0)
Requirement already satisfied: pytesseract in /usr/local/lib/python3.6/dist-packages (0.3.6)
Requirement already satisfied: Pillow in /usr/local/lib/python3.6/dist-packages (from pytesseract) (7.0.0)

In [180]:
pytesseract.pytesseract.tesseract_cmd = r'/usr/local/bin/pytesseract'

In [186]:
!sudo apt install tesseract-ocr

Reading package lists... Done
Building dependency tree
Reading state information... Done
tesseract-ocr is already the newest version (4.00~git2288-10f4998a-2).
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 39 not upgraded.

In [194]:
from PIL import Image
import pytesseract

pytesseract.pytesseract.tesseract_cmd = (
    r'/usr/bin/tesseract'
)


img = r"/content/94c6d7719ceb9fd8b8434c4dd28739e5.jpg"

print(pytesseract.image_to_string(Image.open(img)))

Pepe U elo er

Mary Jane Saith For Mar 15,2010 to Ape 18. 2010
290 Ping Street aacounitaer
America RISERS Brarch Tan Number

Account Summary oa



Contact information

penny Sess sano

Whereas Per OED

Cae iy gas he questiry ans
genes germ

Closing Bsiance on Apr 18,2010

THE Kathe essing brulee,

You are eligible for a $100 bonus Ra

sien FD Ay

Your branch
ae and Eo
rq Sree
Maroneas 3%

MaengeAccamtmmn naire 10) 3
Duet on al

Your Transaction Details

Geta Selene



pss Seance sasene
sags
Sima
fer Fes



hosing Balance

In [197]:
#print(pytesseract.image_to_boxes(Image.open('')))
#print(pytesseract.image_to_data(Image.open('/content/94c6d7719ceb9fd8b8434c4dd28739e5.jpg')))
print(pytesseract.image_to_osd(Image.open('/content/94c6d7719ceb9fd8b8434c4dd28739e5.jpg')))

Page number: 0
Orientation in degrees: 0
Rotate: 0
Orientation confidence: 1.60
Script: Fraktur
Script confidence: 0.67

In [198]:
pdf = pytesseract.image_to_pdf_or_hocr('/content/94c6d7719ceb9fd8b8434c4dd28739e5.jpg', extension='pdf')
with open('test.pdf', 'w+b') as f:
    f.write(pdf) # pdf type is bytes by default

In [200]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [201]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [202]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [203]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [205]:
fruits = ["apple", "banana", "cherry"]
adj = ["red", "big", "tasty"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [206]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [207]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [208]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [209]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [210]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [211]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [212]:
x = lambda a : a + 10
print(x(5))

15

In [214]:
x = lambda a : a + 10
print(x(5))

15

In [215]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [216]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [217]:
def myfunc(n):
  return lambda a : a * n

In [218]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [219]:
class Person:
  def __init__(self, fname):
    self.firstname = fname

  def printname(self):
    print(self.firstname)

class Student(Person):
  pass

x = Student("Mike")

In [220]:
print(x)

<__main__.Student object at 0x7fbe8b30fda0>

In [221]:
x.printname()

Mike